- provide(:title, "Registro")
.container.bottom-page
  %h2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} carácteres mínimo)
      %br/
      = f.password_field :password, autocomplete: "off"
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "off"
    .field
      = f.label :name
      %br/
      = f.text_field :name, autocomplete: "off"
    .actions
      = f.submit "Registrarse"
  = render "devise/shared/links"
