- provide(:title, "Entrar")
.container.bottom-page
  .h1 Entrar
  %p.h4 Si ya tienes cuenta

  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "off"
    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me
        = f.label :remember_me
    .actions
      = f.submit "Entrar"

    %p.h4 Si aún no tienes cuenta

  = render "devise/shared/links"
